body { 
        background: url('iron-throne.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        font-size: x-large;
}

select {
  color: black;
}

.panel-body {
  color: black;
  font-size: small;
}
